body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

header, section, footer {
  display: block;
}

a {
  color: #de5a41;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.wrap {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

header.global {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 40px;
  line-height: 40px;
}
header.global nav {
  background-color: #FFF;
  padding: 0 1em;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
header.global nav {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.3);
  top: -20px;
  padding-top: 20px;
}

.controls input {
  vertical-align: middle;
}
.controls .value {
  display: inline-block;
  min-width: 4.5em;
  padding-left: 0.5em;
}
.controls a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  padding: 0 0.2em;
}
.controls a:hover {
  color: salmon;
}
.controls a.inactive {
  color: #EEE;
  text-shadow: -1pt -1pt 0 #000;
  position: relative;
  top: 1pt;
  left: 1pt;
}
.controls a.inactive:hover {
  color: #EEE;
  text-shadow: -1px -1px 0 salmon;
}
.controls a.inactive {
  color: #EEE;
  text-shadow: -1px -1px 0 #000;
}

section.welcome {
  background-color: salmon;
  position: relative;
}
section.welcome h1 {
  margin: 0;
  padding: 40px 0 0;
  text-align: center;
  font-weight: 100;
  font-size: 40px;
  color: #FFF;
  text-shadow: 0 2px 5px #a41900;
  letter-spacing: -1pt;
  position: relative;
}
section.welcome img {
  height: 150px;
  width: auto;
  vertical-align: middle;
  margin: 0 0.5em 0 0;
  transition-property: height left;
  transition-duration: 0.3s;
}
section.welcome .art {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-animation: art 60s infinite cubic-bezier(0.2, 0, 0.8, 1);
  -moz-animation: art 60s infinite cubic-bezier(0.2, 0, 0.8, 1);
  -ms-animation: art 60s infinite cubic-bezier(0.2, 0, 0.8, 1);
  -o-animation: art 60s infinite cubic-bezier(0.2, 0, 0.8, 1);
  animation: art 60s infinite cubic-bezier(0.2, 0, 0.8, 1);
}
section.welcome .art.visible {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}

section.playlist {
  padding-top: 2em;
  padding: 1em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

article.track {
  overflow: hidden;
  position: relative;
  padding-bottom: 6px;
  border-bottom: 1px solid #ffb2a4;
  height: 40px;
}
article.track h3 {
  margin: 0;
  font-weight: inherit;
  line-height: 40px;
  float: left;
}
article.track .source {
  color: #000;
  display: block;
  float: right;
  font-size: 1.2em;
  line-height: 40px;
}
article.track .progress-bar {
  display: none;
  width: 0%;
  height: 100%;
  background-color: #ffb2a4;
  opacity: 0.3;
  position: absolute;
  top: 0;
  z-index: -1;
}
article.track .current-time-bar {
  display: none;
  width: 0%;
  height: 6px;
  background-color: #ffb2a4;
  position: absolute;
  bottom: 0;
}
article.track .state {
  font-family: 'FontAwesome';
  display: inline-block;
  width: 1em;
  text-align: center;
  padding-right: 0.3em;
  color: #999;
}
article.track .state:before {
  content: "\f04b";
  /* play */
}
article.track:hover .state:before, article.track.current:hover .state:before {
  color: #ff5c3e;
}
article.track.current .progress-bar, article.track.current .current-time-bar {
  display: block;
}
article.track.current .state:before {
  content: "\f04c";
  /* pause */
  color: #000;
}

section.players {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}

audio {
  display: block;
  margin: 0 0 10px;
}

#list .current {
  background-color: #CCC;
  color: #000;
}
#list .inactive {
  opacity: 0.3;
}

.track {
  cursor: pointer;
}

audio {
  display: none;
}

.yt-container.hidden {
  visibility: hidden;
  position: absolute;
  z-index: 0;
}

@media (max-width: 768px) {
  section.welcome h1 {
    padding-bottom: 40px;
  }
  section.welcome img {
    padding-top: 20px;
    height: 200px;
    display: block;
    margin: 0 auto;
  }

  .controls {
    font-size: 24px;
    line-height: 60px;
  }
}
@-webkit-keyframes art {
  0%, 100% {
    background-position: center top;
  }

  50% {
    background-position: center bottom;
  }
}

@-moz-keyframes art {
  0%, 100% {
    background-position: center top;
  }

  50% {
    background-position: center bottom;
  }
}

@-ms-keyframes art {
  0%, 100% {
    background-position: center top;
  }

  50% {
    background-position: center bottom;
  }
}

@-o-keyframes art {
  0%, 100% {
    background-position: center top;
  }

  50% {
    background-position: center bottom;
  }
}

@keyframes art {
  0%, 100% {
    background-position: center top;
  }

  50% {
    background-position: center bottom;
  }
}
